body {
  padding: 40px 40px;
  font-family: monospace;
  color: #565656;
}

td {
  text-align: right;
  padding: 3px; 0;
}

th {
  color: white;
  padding: 8px 17px 8px 10px;
  min-width: 100px;
  background-color: #3A3A3A;
  border-radius: 5px;
}

input {
  margin: 4px 7px 4px 0;
  cursor: pointer;
}

.left-align {
  text-align: left;
}

table {
  border-collapse: separate;
}

#test {
  float: left
}

#result {
  float: left;
  margin-left: 70px;
}

#my-ctrl {
  display: inline-flex;
}