body {
  padding: 40px 40px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #565656;
  -webkit-font-smoothing: antialiased;
}

td {
  text-align: right;
  padding: 3px; 0;
}

th {
  color: white;
  padding: 8px 17px 8px 10px;
  min-width: 100px;
  background-color: #3A3A3A;
  border-radius: 5px;
}

input {
  margin: 4px 7px 4px 0;
  cursor: pointer;
}

.left-align {
  text-align: left;
}
.float-left {
  float: left;
}

.abril {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.03em;
}

table {
  border-collapse: separate;
}

#test {
  float: left
}

#result {
  float: left;
  margin-left: 70px;
}

#my-ctrl {
  display: inline-flex;
}

#weights {
  margin-bottom: 10px;
  font-style: italic;
}

#legend {
  max-width: 750px;
}